canvas {
	border:1px dashed black;
}

.Header
{
	background-color:#FF6F00;
	border:thin #336699 sold;
	padding: 10px;
	margin;10px;
	text-align:center;
}



.Header h1 {
	margin:0px;
	color:white;
	font-size:xx-large;
	font-family: 'Open Sans', sans-serif;
	/* font-family: verdana, arial, helvetica, sans-serif;*/
}


.Footer {
	position:fixed;
	bottom:0px;
	height:100px;
	width:100%;
	border-top: thin sold black;
	font-size:small;
	text-align:right;
}


.Nav
{
	position:absolute;
	top:100px;
	left:0px;
	padding:5px 15px 0px 15px;
	width:200px;

	font-size:small;
}


.Main {
	position:absolute;
	z-index:99;
	top:100px;
	left:210px;
	padding:5px 15px 120px 15px;
	min-height:1000px;
	/*background-color:#eee;*/
	font-size:small;
}
.Main h2 {
	 font-size:x-large;
	 font-family: 'Open Sans', sans-serif;
}
p {
	 font-family: 'Open Sans', sans-serif;
 }

table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;

}
caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 /*letter-spacing:20px;*/
 padding:6px 4px 8px 0px;
 text-align:left;
 text-transform:uppercase;
}
td, th { color:#363636;
 padding:.4em;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
tbody td a { color:#363636;
 text-decoration:underline;
}
tbody td a:visited { color:gray;
 text-decoration:none;
}
tbody td a:hover { 
	text-decoration:none;
	background:#C3FF4D;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}

tbody th a:hover { color:#363636;
}

tbody td+td+td+td a {
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
tbody td+td+td+td a:visited {
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { text-align:left;
 vertical-align:top;
}
tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}

